/* ---------------------------------HTML---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* disabling horizontal scroll */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ------------------------------Google Fonts--------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cinzel+Decorative:wght@400;700&family=Courgette&family=Poppins:wght@300&display=swap");

/* ------------------------------ScrollBar---------------------------------------------------- */
.scrollBar::-webkit-scrollbar {
  width: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
  background: #8a44ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ded3ff,
    #8a44ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ded3ff,
    #8a44ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scrollBar::-webkit-scrollbar-thumb:hover {
  background: #8a44ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ded3ff,
    #8a44ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ded3ff,
    #8a44ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Navbar */
.nav-item {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 200px) {
  .nav-item {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 370px) {
  .nav-item {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 780px) {
  .nav-item {
    font-size: 2rem;
  }
  .content h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .nav-item {
    padding: 0 2rem 0 2rem;
  }
}

logo img {
  height: 100px;
}

/* ------------Main content-------------- */

.main {
  background-image: linear-gradient(
    to bottom,
    #8a44ff,
    #a479ff,
    #c0a7ff,
    #ded3ff,
    #ffffff
  );
}

.intro {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid black; */
}

.intro-text {
  flex: 1 1 200px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro-heading {
  font-size: 5rem;
  color: white;
  /* border: 2px solid white; */
  padding: 0 2rem 0 2rem;
  margin: 1rem;
  animation: neon 2s ease-in-out infinite alternate;
}

@media screen and (max-width: 480px) {
  .intro-heading {
    font-size: 3rem;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a600ff,
      0 0 70px #50039d, 0 0 80px #4c03a6c5, 0 0 100px #430f7e, 0 0 150px #37075a;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a600ff,
      0 0 35px #50039d, 0 0 40px #4c03a6c5, 0 0 50px #430f7e, 0 0 75px #37075a;
  }
}

.intro-button {
  border: 2px solid green;
  padding: 1rem;
  margin: 1rem;
}

.intro-svg {
  flex: 1 1 200px;
  /* border: 2px solid blue; */
  text-align: center;
}

.intro-svg svg {
  height: 75%;
}
/******************sponsors*******************/
/*Implement*/
.sponsor-feature {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;

  min-height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
}

/*#id-sponsors .carousel {
    margin-bottom: 5px;
}
#id-sponsors .item {
    padding-bottom: 5px;
}
#id-sponsors .carousel-indicators {
    bottom: -15px;
} */
/**glowing animation**/

.glowing:hover {
  box-shadow: 1px 1px 1px black, 0 0 10px blue, 0 0 2px darkblue;
}
h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px;
}
