/* ------------------------------Google Fonts--------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cinzel+Decorative:wght@400;700&family=Courgette&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* ---------------------------------HTML---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* disabling horizontal scroll */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ------------------------------ScrollBar---------------------------------------------------- */
.scrollBar::-webkit-scrollbar {
  width: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
  background: #8a44ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ded3ff,
    #8a44ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ded3ff,
    #8a44ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scrollBar::-webkit-scrollbar-thumb:hover {
  background: #8a44ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ded3ff,
    #8a44ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ded3ff,
    #8a44ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Navbar */
.nav-item {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 200px) {
  .nav-item {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 370px) {
  .nav-item {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 780px) {
  .nav-item {
    font-size: 2rem;
  }
  .content h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .nav-item {
    padding: 0 2rem 0 2rem;
  }
}

logo img {
  height: 300px;
}

@media screen and (max-width: 480px) {
  logo img {
    height: 175px;
  }
}

/* ------------Main content-------------- */

.main {
  background-image: linear-gradient(
    to bottom,
    #8a44ff,
    #a479ff,
    #c0a7ff,
    #ded3ff,
    #ffffff
  );
}

.intro {
  height: 85vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  padding-top: 1rem;
}

@media screen and (max-width: 800px) {
  .intro {
    height: auto !important;
  }
}
.intro-text {
  flex: 1 1 200px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.intro-heading {
  font-size: 4rem;
  color: white;
  /* border: 2px solid white; */
  /* padding: 0 1rem 0 1rem; */
  margin: 1rem;
  animation: neon 2s ease-in-out infinite alternate;
}

@media screen and (max-width: 480px) {
  .intro-heading {
    font-size: 2rem;
  }

  .intro-phrase {
    font-size: 1.2rem;
    text-align: center;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a600ff,
      0 0 70px #50039d, 0 0 80px #4c03a6c5, 0 0 100px #430f7e, 0 0 150px #37075a;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a600ff,
      0 0 35px #50039d, 0 0 40px #4c03a6c5, 0 0 50px #430f7e, 0 0 75px #37075a;
  }
}

.intro-phrase {
  color: white;
  font-size: 1.4rem;
  font-family: "Nunito", sans-serif;
  padding: 1.5rem;
}
.main-heading {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-size: 6rem;
  color: rgb(34, 34, 34);
}
@media screen and (max-width: 640px){
  .main-heading { 
    font-size: 3rem;
  }
}

.intro-svg {
  flex: 1 1 200px;
  /* border: 2px solid blue; */
  text-align: center;
}

.intro-svg svg {
  height: 75%;
}

@media screen and (max-width: 480px) {
  .intro-svg {
    display: flex;
    flex-direction: column;
  }
}

/* -------------------About us-------------------- */

.About-Us,
.sponsor-head {
  padding: 2rem;
  margin: 0.5rem;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  animation: fadeIn 5s;
  /* border: 2px solid blue; */
}

.underline-h1 span {
  /*border-bottom: 2px solid black;*/
  color: #382B47;
  font-size: 4.3rem;
}
.divider-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.divider-hr {
  border: 2px solid black;
  width: 40%;
}
.divider-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 10px 20px;
}
.aboutus-p {
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.flexDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 2.25rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1.5rem;
  font-family: "Bebas Neue", cursive;
}

.card-text {
  text-align: justify;
}

.speaker {
  text-align: center;
  padding: 6rem 1.5rem 1.5rem 1.5rem !important;
  animation: fadeIn 1s;
  font-family: "Bebas Neue", cursive;
}

h5 {
  text-align: center;
}

.card {
  background-color: rgba(204, 156, 250, 0.899);
}

.card {
  color: rgb(0, 0, 0);
  padding: 1.25rem;
  box-shadow: 3px 3px #181414;
  z-index: 1;
  animation: fadeIn 2s;
  float: left;
  -webkit-transition: margin 1s ease-out;
  -moz-transition: margin 1s ease-out;
  -o-transition: margin 1s ease-out;
}

.card:hover {
  background-color: #993cf0;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/******************sponsors*******************/
/*Implement*/
.sponsor-feature {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;

  min-height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
}

/*#id-sponsors .carousel {
    margin-bottom: 5px;
}
#id-sponsors .item {
    padding-bottom: 5px;
}
#id-sponsors .carousel-indicators {
    bottom: -15px;
} */
/**glowing animation**/

.glowing:hover {
  box-shadow: 1px 1px 1px black, 0 0 10px #8212c8, 0 0 2px #5a088d;
}
h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #5a088d, 0 0 20px #5a088d,
    0 0 25px #5a088d, 0 0 30px;
}

/* Footer */

footer {
  /* background-color: #ffffff; */
  /* color: black; */
  padding: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 0px;
}
footer p {
  margin: 0;
  color: #993cf0;
  font-size: 1rem;
}
.footer-links {
  display: flex;
  margin-top: 5px;
  color: #993cf0;
}
.footer-links i {
  margin-right: 12px;
}
.footer-links i:hover {
  color: #993cf0;
  cursor: pointer;
  transition: 0.2s all ease;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

/* --------button----------- */
button {
  margin: 20px;
}
.custom-btn {
  color: #fff;
  height: 60px;
  padding: 10px 50px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background-color: #FF8759;
  cursor: pointer;
  position: relative;
  outline: 0;
  border: none; 
  border-radius: 5px;
  font-size: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.custom-btn:hover{
  background-color: #d16e48;
  transition: 0.2s all ease;
}

@media screen and(max-width:480px) {
  .custom-btn {
    width: 130px !important;
    height: 40px !important;
  }
}



.card-title {
  font-size: 1.6rem;
}

.card-text {
  font-size: 1.2rem;
}
.timeline-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 640px){
  .timeline-wrapper {
    width: 100%;
  }
}
.mod-footer-custom {
  display: flex; 
  flex-direction: row; 
  width: 100%; 
  padding: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 640px){
  .mod-footer-custom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

  }
}